body
{
    color: #000000;
    background-color: #4F6290;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
}
.text
{ 
	color: #ffffff; 
	font-family:Arial; 
	font-weight:bold 
}
.darktext
{ 
	color: #000000; 
	font-family:Arial; 
	font-weight:bold 
}
.text:visited{color: #ffffff;}
a:active     
{ 
	color: #000000 
}
a:hover      
{ 
	color: #000000 
}
a:link       
{ 
	color: #000000 
}
a:visited    
{ 
	color: #000000 
}
.maincontent
{
    height:470px;
    width:700px;
    background-color:#ffffff;
    padding:10px 10px 10px 10px;
    text-align:left;
	color: #000000; 
	font-family:Arial; 
	font-weight:bold;
}
.maincontentmobile
{
    width: 90%;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    text-align: left;
    color: #000000;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
}
.mobilebutton
{
    height: 30px;
    font-size:16px;
    font-weight:bold;
}
.hidden
{
    visibility:hidden; 
    height:0px;
    padding:0px 0px 0px 0px;
}
.show
{
    visibility:visible;
}
.scroll
{
    overflow:auto;
}
.noscroll
{
    overflow:hidden;
}
